
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p><b><a href="/Clientes">Ver lista de clientes</a></b></p>
        <p><b><a href="/Empleados">Ver lista de empleados</a></b></p>
        <p><b><a href="/Operaciones">Ver lista de operaciones</a></b></p>
        <p><b><a href="/Vehiculos">Ver lista de vehículos</a></b></p>
    </div>
</body>
</html>
